<!-- ======= Header ======= -->

<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/">Chi<b style="color: red;">~ado</b>ram </a></h1>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/" class="active">Home</a></li>

        <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i> &nbsp;</a>
          <ul>
            <li><a href="/about">Jextol</a></li>
            <li><a href="/about#team">Team</a></li>
            <li><a href="/portfolio">Catalogue</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i> &nbsp;</a>
          <ul>
            <li><a href="/login">Admin</a></li>
            <li><a href="/login">Staffs</a></li>
          </ul>
        </li>
        <li><a href="/customer" class="btn-danger text-light">Customer Care &nbsp; &nbsp; &nbsp;</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
{% block start %}

{% endblock %}